.container {
    display: flex;
    align-items: center;
    width: 225px;
    height: 100px;
    padding: 6px;
}

.profile_container {
    width: 48px;
    height: 48px;
    margin-right: 12px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #E2E2E2;
}


.nickname_link {
    font-size: 15px;
    color: #0077CC;
}

.email {
    font-size: 12px;
    color: #6A737C;
}